*{
    padding: 0px;
    margin: 0px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}
body{
    background-color: rgb(6, 6, 6);
    nav{
        padding: 2% 5% !important;
       
        .navbar-toggler .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .navbar-nav{
            background-color: rgba(17, 17, 17, 0) !important;
            justify-content: space-between;
            width: 52%;
        }
        .navbar-nav .nav-link.active{
            color: white;
        }

        .navbar-brand img{
            width: 50%;
        }

        .navbar-collapse {
            flex-direction: row-reverse;
        }

        .navbar-expand-lg{
            display: flex;
        }

        li a{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: white
        }

        li {
            margin-bottom: 10px;
        }
    }
    .index_main{
        .index_main_portada{
            padding: 0px 5%;
            display: flex;
            justify-content: space-between;
            .index_main_portada_titulo{
                width: 50%;
                h1{
                    font-size: 6em;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    color: white;
                }
            }
            .index_main_portada_img{
                width: 50%;
                margin-left: 5%;
            }
        }
        .index_main_info{
            margin-top: 10vw;
            .index_main_info_img{
                width: 100%;
                height: 50vh;
                background: url("../img/fondo_interior_isah.jpg") center center;
            }
            .index_main_info_text{
                background: black;
                margin: -5% 5% 0% 5%;
                padding: 5%;
                p{
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 2em;
                }
            }
        }
        .index_main_carreras{
        
            display: flex;
            justify-content: center;
            align-items: end;
            height: 50vh;
            margin: 20vh 5% 0px;
            padding: 2.5%;
            background: url("../img/fondo_interior_isah.jpg") center center;
            .index_main_carreras_socalo{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 70%;
                padding: 2.5%;
                background-color: white;
                a{
                    text-decoration: none;
                    h2{
                        color: rgb(0, 0, 0);
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 2em;
                    }
                }
            }
             
        }
        .index_main_eventos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .index_main_eventos_contenedor{
                color: white;
                font-family: 'Roboto', sans-serif;
                width: 100vw;
                display: flex;
                padding: 5% 5% 1%;
                justify-content: space-between;
                .index_main_eventos_titulo{
                    width: 40%;
                    h2{
                        font-weight: 700;
                        font-size: 3em;
                    }
                }
                .index_main_eventos_fecha{
                    display: flex;
                    justify-content: space-between;
                    width: 60%;
                    .index_main_eventos_fecha_datos{
                    h3{
                        font-size: 1.5em;
                    }
                    h4{
                        color: rgb(218, 218, 218);
                        font-size: 1em;
                    }
                    }
                    .index_main_eventos_fecha_img{
                        width: 50%;
                        img{
                        width: 100%;
                        }
                    }
                }
            }
            
            .index_main_eventos_mas{
                margin-top: 10vh;
                a{ 
                    font-size: 1em;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    color: white;
                    text-decoration: none;
                    border-bottom: 2px white solid;
                }
            }
        }
        .index_main_redes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40vh;
            background-color: rgb(183, 223, 255);
            margin: 10vw 5% 5%;
            h2{
                font-size: 4em;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                color: rgb(14, 14, 14);
            }
            a{
                font-size: 3em;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                color: rgb(55, 0, 255);
                text-decoration: none;
               
            }
            .index_main_redes_link{
                display: flex;
                justify-content: center;
            }
        }
    }  
    
    footer{
        padding: 5%;
        width: 100%;
        .footer_contenedor{
            width: 50%;
            height: 5vh;
            display: flex;
            align-items: end;
            .footer_contenedor_redes{
                display: flex;
                justify-content: space-between;
                width: 25%;
                img{
                    width: 20%;
                }

            }
        }
    }
}

/*MEDIA Qs*/

@media screen and (min-width: 1921px) {
    body{
        nav{
            padding: 2% 10% !important;
        }
        .index_main{ 
            .index_main_portada{
                 padding: 0px 10%;
            }
        }
    }
}
@media screen and (max-width: 1080px) {
    body{
        .index_main{ 
            .index_main_portada{
                .index_main_portada_titulo{
                    h1{
                        font-size: 3em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    body{
        .index_main{ 
            .index_main_portada{
                flex-direction: column;
                justify-content: center;
                
                .index_main_portada_titulo{
                    h1{
                        font-size: 3em;
                    }
                }
                .index_main_portada_img{
                    width: 100%;
                    margin: 0px;
                }
            }
            .index_main_info{
                .index_main_info_text{
                    margin: 0px;
                }
            }
            .index_main_carreras{
                margin: 0px;
                height: 30vh;
                .index_main_carreras_socalo{
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
            }
            .index_main_eventos{
                    flex-direction: column;
                    .index_main_eventos_contenedor{
                        margin-top: 10%;
                        flex-direction: column;
                        .index_main_eventos_titulo{
                            width: 100%;
                        }
                        .index_main_eventos_fecha{
                            width: 100%;
                            flex-direction: column-reverse;
                            .index_main_eventos_fecha_img{
                                width: 100%;
                            }
                            .index_main_eventos_fecha_datos{
                                margin-top: 10%;
                            }
                        }
                }
                .index_main_eventos_mas{
                    margin-top: 2vh;
                }
            }
            .index_main_redes{
                h2{
                    font-size: 3em;
                    text-align: center;
                }
                .index_main_redes_links{
                    display: flex;
                    flex-direction: column;
                }
            }

        }

        footer{
            .footer_contenedor{
                width: 100%;
                .footer_contenedor_redes{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    img{
                        width: 15%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 420px) {
    body{
        .index_main{ 
            .index_main_carreras{
                .index_main_carreras_socalo{
                    flex-direction: row;
                }
            }

            .index_main_redes{
                h2{
                    font-size: 4em;
                }
            }
        }       
    }
}